[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/bde/hm_26
ExecStart=/home/bde/hm_26/env/bin/python run.py

[Install]
WantedBy=multi-user.target